.board-title{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    
}

.button{
    border-radius: 8px;
    padding: 5px;
    margin-left: 10px;
}